<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div>
  <div>
    <h1>You have successfully reset your password, <%= @user.first_name %>! at <%= @time %></h1>
    <h2>Below is your new password, change your password once logged in</h2>
    <h2>Password = <%= @password %></h2>
  </div>
</div>
</body>
</html>