<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div>
  <div>
    <h1><%= @user.first_name %>, your password was updated at <%= @time %></h1>
    <div><%= image_tag attachments['makasa_logo.png'].url, class: 'img-rounded' %></div>
    <h2>If you did not change your password, please contact us</h2>
    <h2><a class="btn btn-primary btn-lg" href="<%= @url %>" role="button">Sign In &raquo;</a></h2>
  </div>
</div>
</body>
</html>