<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div>
  <div>
    <h1>Thanks for signing up, <%= @user.first_name %>!</h1>
    <div><%= image_tag attachments['makasa_logo.png'].url, class: 'img-rounded' %></div>
    <h2>You're now part of Makasa community. Now sign in and share awesome things with the world!</h2>

    <table cellspacing="0" cellpadding="0"> <tr>
      <td align="center" width="200" height="40" bgcolor="#357EBD" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
        <a href="<%= @url %>" style="color: #ffffff; font-size:16px; font-weight: bold;
                font-family: Helvetica, Arial, sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">Sign in</a>
      </td>
    </tr>
    </table>

    </div>
</div>
</body>
</html>