<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thanks for signing up, <%= @user.first_name %>!</h1>
<p>Thanks for joining Makasa community. Now sign in and share awesome things with the world!</p>
</body>
</html>