<% if @user.errors.any? %>
    <div id="error_message" class="alert alert-info">
      <% if @user.errors.count > 1%>
      <h2><%= pluralize(@user.errors.count, "error") %> on sign up fields</h2>
      <p>There was a problem with the following fields:</p>
    <% else %>
       <ul>
          <li class="text-danger"> 1 Field not valid</li>
       </ul>
    <% end %>
      <ul>
        <% @user.errors.full_messages.each do |m| %>
            <li class="text-danger"><%= m %></li>
        <% end %>
      </ul>
    </div>
<% end %>
