<div id="search-people" class="navbar-form navbar-right right-inner-addon">
  <i class="fa fa-search fa-lg text-info"></i>
  <input class="typeahead form-control tt-query" autocomplete="off" spellcheck="false" type="text" placeholder="Search for People">
</div>
