<%= form_tag "/access/attempt_login", class: "navbar-form navbar-right", role: "form" do %>
    <div class="form-group">
      <input type="text" placeholder="Email / Username" name="user_id" class="form-control" style="width: 230px;">
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Sign in</button>
    <div class="header_links">
      <%= link_to "Forgot Password", {controller: "access", action: "request_access"}, class: "pull-right" %>
     </div>
<% end %>
