<div class="container">
  <%= form_tag "/access/attempt_login", class: "form-signin", role: "form" do %>
    <h2 class="form-signin-heading text-center text-info">Login to Makasa</h2>
    <input type="text" autofocus="" required="" placeholder="Email address" name="email" class="email-input input-lg form-control">
    <input type="password" required="" placeholder="Password" name="password" class="input-lg form-control">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
      <button type="submit" class="btn btn-lg btn-primary col-md-offset-5">Sign in</button>
      <hr>
<% end %>
  <div class="text-center"><a href="/request_access" class="btn btn-lg password_request_btn">Forgot Password</a></div>
</div>
