<div class="container">
  <%= form_tag password_request_path, class: "form-signin", role: "form" do %>
      <h2 class="form-signin-heading text-info text-center">Password Request</h2>
      <input type="text" autofocus="" required="" placeholder="Email address" name="email" class="email-input input-lg form-control">
      <button type="submit" class="btn btn-lg btn-primary col-md-offset-4">Request Password</button>
  <% end %>
</div>