// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-media{
  width: 5.333%;
  padding-right: 15px; padding-left: 15px; margin-right: -5px;
}

.comment-block .comment-media img{
  height: 35px;
  margin-top: 3px;
}

.new_comment .comment-block .comment-media img{
  margin-top: 0px;
}

.comment-modal-avatar img{
  height: 35px;
  margin-top: 3px;
}

.new_comment .comment-modal-avatar img{
  margin-top: 0px;
}

.comment-block{
  margin: 5px 10px 5px 10px;
}

.comment-block .panel-body{
  padding: 5px;
}

.comment-btn{
  margin-top: 0px;
}

.post-comment-block{
  margin-top: 0px;
}

.my_single_post .post-comment-block{
  margin-left: 5px;
}

.delete-comment{
  position: relative;
  left: -8px;
  top: 1px;
  visibility: hidden;
}

.delete-comment{
  color: #A94442;
}

.delete-comment:hover{
  color: #d11e04;
}

@media (min-width: 480px ) and (max-width: 750px) {
  .comment-media{
    width: 45px;
  }
  .image-modal-comment{
    width: 45px;
  }
}

@media (min-width: 750px) and (max-width: 1170px){
  .image-modal-comment{
    width: 45px;
  }
  .comment-media{
    width: 45px;
  }
}

@media (min-width: 992px){
  .comment-block img{
    width: 28px;
  }
}

@media (max-width: 480px){
  .comment-media{
    width: 45px;
  }
}

@media (min-width: 1300px){
  .comment-block{
    width: auto;
  }
}

.comment-modal-avatar{
  float: left;
}

.comment-modal-input{
  padding: 0px 5px;
}

.comment-modal-submit{
  padding: 0px 5px;
}

.img-comment form{
  margin-right: 20px;
}

.img-comment .timeline-info .media img{
  width: 30px;
}

.img-comment .timeline-info{
  width: 40px;
}

.img-comment .comments{
  margin-top: 20px;
  clear: both;
}

.img-comment .modal-img-desc{
  margin-bottom: 15px;
  margin-left: 25px;
}

.comments .img-commented{
  padding: 5px;
}

.img-commented .media{
  width: 35px;
}

.comments .timeline-info{
  width: 35px;
}

.img-commented .timeline-info{
  margin-right: 5px;
}

.comments .comment-modal-block{
 margin-right: 30px;
}

.comment-panel .comment-header{
  border: 1px solid #d0dde5;
  margin-bottom:10px;
}

.comment-panel .comment-header a{
  font-size: 16px;
  font-weight: bold;
}

.comment-panel .comment-body{
  padding: 5px 0px !important;
  background: transparent !important;
}

.comment-panel{
  background: transparent !important;
  border: 0px;
  box-shadow: none;
}




