// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-preview{
  margin: 0 auto;
}

#imageModal .modal-dialog {
  width: 60%;
  margin-top: 60px;
}

#imageModal .modal-content .modal-body {
  padding: 0px;
}

#imageModal .modal-content{
  border-radius: 0px;
  border: 3px solid #252525;
}

.image-view img{
  max-width: 100%;
}

.imageModalClose{
  position: relative;
  top: -29px;
  left: 28px;
  z-index: 8040;
  color: #efefef;
  float: right;
  opacity: 1;
}

.imageModalClose:hover{
  color: white;
}

.image-view{
  max-width: 60%;
}

.image-view .next{
  position: absolute;
  left: 90%;
  top: 50%;
  visibility: hidden;
}

.image-view .prev{
  position: absolute;
  top: 50%;
  left: 30px;
  visibility: hidden;

}

.modal-backdrop.in
{
  opacity: .87;
}

.img-comment{
  margin-top: 10px;
}

.img-remove{
  position: relative;
  left: -6px;
  top: -3px;
  visibility: hidden;
  color: #842917;
}

.img-remove:hover{
  color: #ea061a;
}

@media (max-width: 750px){
  #imageModal .modal-dialog {
    width: 90%;
  }
}

@media (max-width: 997px){
  .image-view img {
    max-width: 150%;
  }
}
