//Application main css
body{
  padding-top: 60px;
 background: #F5F5F5;
 // background: #f8f8f0;
}

.main-billboard{
  background-color: #cfd6d7;
}

.login-email-field{
  width: 230px;
}

#startup{
 //margin-top: 2px;
}

//Aplication layout css
.home-icon{
  padding-top: 15px !important;
}

.date_field{
  width: auto !important;
  margin-right: 20px !important;
}

.alert-danger, .alert-success{
  margin-top: 0px;
  margin-bottom: 0px;
}

#main-title{
    font-size: 24px !important;
}

#main-title img{
  margin-top: 10px;
}

#main-wrapper{
  margin-top: 0px;
  // background: #FFFFFF;
}

.top-menu-icon{
  padding-top: 20px !important;
}

.top-menu-dropdown{
  top:59px !important;
}

.top-menu-user{
  padding-top: 20px !important;
}

#error_message ul{
 list-style: none;
}

#error_message ul li{
  margin: 10px 0px;
}

#error_message{
  background-color: #b9d2e6;
}

.field_with_errors .form-control{
  border-color: #A94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.sign-up-form small{
  color: #208079;
}

.sign-up-button{
  margin-top: 6px;
}

.header_logo{
  margin-top: 15px !important;
}

.header_links a{
  color: #c2c2c2;
}

.header_links a:hover{
  color: #ffffff !important;
}

#error_wrapper{
 margin-top: 0px !important;
}

.noticeWrapper1{
  top: 59px !important;
}

.noticeWrapper2{
  top: 70px !important;
}
/////////

.padding-md {
  padding: 20px 0px !important;
}

//tabs overrides
.tab-bar:after, .tab-bar:before {
  content: "";
  display: table;
  line-height: 0;
}

.tab-bar:after {
  clear: both;
}

.tab-bar:after, .tab-bar:before {
  content: "";
  display: table;
  line-height: 0;
}

.tab-bar.grey-tab {
  background: none repeat scroll 0 0 #E6E6E6;
}
.tab-bar {
  list-style: none outside none;
  margin: 0;
}
ul {
  padding: 0;
}

.tab-bar > li {
  display: inline-block;
  float: left;
  margin-bottom: -1px;
}

.tab-bar > li.active:first-child a {
  border-left: 0 none;
}
.tab-bar.grey-tab li.active a {
  background: none repeat scroll 0 0 #F9F9F9;
  border: medium none rgba(0, 0, 0, 0);
}
.tab-bar > li.active a {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #5c5c5c !important;
}
.tab-bar.grey-tab li a {
  border: medium none rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #BBBBBB;
  text-shadow: 0 1px 0 #FFFFFF;
}
.tab-bar > li a {
  color: #CCCCCC;
  display: block;
  padding: 10px;
  text-shadow: 0 1px #FFFFFF;
  transition: color 0.2s ease 0s;
}

.tab-bar > li a:hover {
  color: #373737;
  display: block;
  padding: 10px;
  text-shadow: 0 1px #FFFFFF;
  transition: color 0.2s ease 0s;
  text-decoration: none;
}

a {
  color: #555555;
  transition: all 0.2s ease 0s;
}

.block {
  display: block !important;
}

//Panels overrides
.panel.panel-default {
  border-color: #F1F5FC;
}
.panel {
  background: none repeat scroll 0 0 #FFFFFF;
}
.panel.panel-default .panel-heading {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #F1F5FC;
  color: #777777;
}

.panel.panel-default .panel-footer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #F1F5FC;
  color: #777777;
}

form.form-border .form-group:first-child {
  padding-top: 0;
}

form.form-border .form-group {
  border-bottom: 1px solid #F1F5FC;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.inbox-panel {
  border-radius: 0;
  margin-bottom: 0;
}

.inbox-panel .inbox-item {
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.list-group-item, a.list-group-item {
  border-color: #F1F5FC;
  color: #777777;
}

//error stuff
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

//main search input box
#search-people{
  margin-top: 12px;
  margin-right: 20px;
  width: 500px;
}

.right-inner-addon{
  position: relative;
}

.right-inner-addon .typeahead{
  padding-right: 30px;
}

.right-inner-addon i{
  position: absolute;
  right: 0px;
  padding: 10px 25px;
  z-index: 1098;
}

.typeahead, .tt-query, .tt-hint {
  line-height: 30px;
  outline: medium none;
  width: 470px;
}
.typeahead {
  background-color: #FFFFFF;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.typeahead:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #cbcbcb;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 470px;
}
.tt-suggestion {
  line-height: 20px;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
 // background-color: #3889af;
}
.tt-suggestion a {
  margin: 0;
}

.search_img{
  width: 45px;
  height: 50px;
  margin-right: 10px;
}

.search_link{
  text-decoration: none;
  display: block;
}

.search_link span{
  font-size: 16px;
  font-weight: bold;
}

.search_link:hover{
  text-decoration: none;
}

.empty-message{
  padding: 5px 10px;
  font-size: 16px;
}

//responsive utilities

@media (min-width: 992px) and (max-width: 1200px){
  #search-people{
    width: 350px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .tt-dropdown-menu {
    width: 320px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .typeahead, .tt-query, .tt-hint {
    width: 320px;
  }
}

@media (min-width: 750px) and (max-width: 991px){
  #search-people{
    width: 230px;
  }
}

@media (min-width: 750px) and (max-width: 991px){
  .tt-dropdown-menu {
    width: 200px;
  }
}

@media (min-width: 750px) and (max-width: 991px){
  .typeahead, .tt-query, .tt-hint {
    width: 200px;
  }
}

@media (max-width: 750px){
  #search-people{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 800px;
  }
}

@media (max-width: 750px){
  .tt-dropdown-menu {
    width: 100%;
  }
}

@media (max-width: 750px){
  .right-inner-addon i{
    display: none;
  }
}

@media (max-width: 750px){
  .typeahead, .tt-query, .tt-hint {
    width: 100%;
  }
}

@media (max-width: 750px){
  .login-email-field{
    width: 100%;
  }
}


