//Application main css
body{
  padding-top: 60px;
 background: #F5F5F5;
 // background: #f8f8f0;
}

#startup{
 //margin-top: 2px;
}

//Aplication layout css
.home-icon{
  padding-top: 15px !important;
}

.date_field{
  width: auto !important;
  margin-right: 20px !important;
}

.alert-danger, .alert-success{
  margin-top: 0px;
  margin-bottom: 0px;
}

#main-title{
    font-size: 24px !important;
}

#main-title img{
  margin-top: 10px;
}

#main-wrapper{
  margin-top: 0px;
  background: #FFFFFF;
}

.top-menu-icon{
  padding-top: 20px !important;
}

.top-menu-dropdown{
  top:59px !important;
}

.top-menu-user{
  padding-top: 20px !important;
}

#error_message ul{
 list-style: none;
}

#error_message ul li{
  margin: 10px 0px;
}

#error_message{
  background-color: #b9d2e6;
}

.field_with_errors .form-control{
  border-color: #A94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.sign-up-form small{
  color: #208079;
}

.sign-up-button{
  margin-top: 6px;
}

.header_logo{
  margin-top: 15px !important;
}

.header_links a{
  color: #c2c2c2;
}

.header_links a:hover{
  color: #ffffff !important;
}

#error_wrapper{
 margin-top: 0px !important;
}

.noticeWrapper1{
  top: 59px !important;
}

.noticeWrapper2{
  top: 70px !important;
}
/////////

.padding-md {
  padding: 20px 0px !important;
}

//tabs overrides
.tab-bar:after, .tab-bar:before {
  content: "";
  display: table;
  line-height: 0;
}

.tab-bar:after {
  clear: both;
}

.tab-bar:after, .tab-bar:before {
  content: "";
  display: table;
  line-height: 0;
}

.tab-bar.grey-tab {
  background: none repeat scroll 0 0 #E6E6E6;
}
.tab-bar {
  list-style: none outside none;
  margin: 0;
}
ul {
  padding: 0;
}

.tab-bar > li {
  display: inline-block;
  float: left;
  margin-bottom: -1px;
}

.tab-bar > li.active:first-child a {
  border-left: 0 none;
}
.tab-bar.grey-tab li.active a {
  background: none repeat scroll 0 0 #F9F9F9;
  border: medium none rgba(0, 0, 0, 0);
}
.tab-bar > li.active a {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #5c5c5c !important;
}
.tab-bar.grey-tab li a {
  border: medium none rgba(0, 0, 0, 0);
  border-radius: 0;
  color: #BBBBBB;
  text-shadow: 0 1px 0 #FFFFFF;
}
.tab-bar > li a {
  color: #CCCCCC;
  display: block;
  padding: 10px;
  text-shadow: 0 1px #FFFFFF;
  transition: color 0.2s ease 0s;
}

.tab-bar > li a:hover {
  color: #373737;
  display: block;
  padding: 10px;
  text-shadow: 0 1px #FFFFFF;
  transition: color 0.2s ease 0s;
  text-decoration: none;
}

a {
  color: #555555;
  transition: all 0.2s ease 0s;
}

.block {
  display: block !important;
}

//Panels overrides
.panel.panel-default {
  border-color: #F1F5FC;
}
.panel {
  background: none repeat scroll 0 0 #FFFFFF;
}
.panel.panel-default .panel-heading {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #F1F5FC;
  color: #777777;
}

.panel.panel-default .panel-footer {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #F1F5FC;
  color: #777777;
}

form.form-border .form-group:first-child {
  padding-top: 0;
}

form.form-border .form-group {
  border-bottom: 1px solid #F1F5FC;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.inbox-panel {
  border-radius: 0;
  margin-bottom: 0;
}

.inbox-panel .inbox-item {
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.list-group-item, a.list-group-item {
  border-color: #F1F5FC;
  color: #777777;
}

//error stuff
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

