// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts{
  margin-top: 20px;
}

#home_image{
  background-image: image-url("makasa_network.jpg");
  background-repeat: no-repeat;
  height: 621px;
  left: 0;
  bottom: 30px;
}

#jumbotron_div{


}

.timeline-info {
  float: left;
  position: relative;
  text-align: center;
  width: 65px;
}

.timeline-panel {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #F1F5FC;
  margin-left: 75px;
}

.timeline-info {
  float: left;
  position: relative;
  text-align: center;
  width: 65px;
}

.timeline-icon {
  border-radius: 50em;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  width: 40px;
}
.bg-grey {
  background-color: #EEEEEE;
  text-shadow: 0 1px #FFFFFF;
}