// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_wrapper{
  margin-top: 20px;
}

.pass_field{
  margin-bottom: 10px;
}

.form-signin {
  margin: 0 auto;
  max-width: 640px;
  padding: 15px;
}

.email-input{
  margin-bottom: 10px;
}

.password_request_btn:hover{
  color: #0e385a !important;
  text-decoration: underline !important;
}

.form-signin-heading{
  margin-bottom: 20px;
}