<%= form_for @image, remote: true, :html => {multipart: true} do |f| %>
    <%= error_messages_for(@image) %>
    <%= f.file_field :photo, multiple: true, name: 'image[photo]',class: 'btn btn-success' %>
<% end %>
<% # jquery upload template # %>
<script id="template-photo" type="text/x-tmpl"><div class="photo">{%=o.name%}<div class="progress"><div class="progress-bar" role="progressbar" style="width: 0%"></div></div></div></script>
