<div id="image_<%= image.id %>" class="img-add col-xs-6 col-md-3">
  <%= link_to 'x', image, method: :delete, class: "close img-remove text-danger",
              :"data-toggle" => "tooltip", :"data-placement" => "top", title: "Delete", remote: true %>
  <a class="thumbnail" href="<%= image.photo.url(:original) %>">
    <%=image_tag(image.photo.url(:square)) %>
  </a>
</div>