<div class="col-xs-6 col-md-3">
    <a class="fancybox thumbnail" rel="gallery1" href="<%= image.photo.url(:original) %>">
      <%=image_tag(image.photo.url(:square), class: 'img-thumbnail') %>
    </a>
</div>
